.section.services {
  .about-info-btn {
    background: none;
    color: #1c5cc8!important;
    border: 1px solid #1c5cc8;
    font-size: 18px;
    width: 142px;
    height: 50px;
    line-height: 50px;
    padding: 0;
  }
}